
@{
    @*
        for more info: https://fullcalendar.io/docs
        for paypal: https://developer.paypal.com/docs/checkout/integrate/#7-go-live
        
*@
    ViewData["Title"] = "Index";
    List<Appointment> appointments = (List<Appointment>)ViewData["appointments"];
    string eventsJson = (string)ViewData["eventsJson"];
    string fullScheduleDaysJson = (string)ViewData["fullScheduleDaysJson"];
}

<h1 class="jumbotron">Schedule</h1>
<div class="container">
    <p class="well cl-lg-12 cl-md-12 cl-sm-12 cl-xs-12">
        Click on any date that is available to reserve a meeting with the tattoo artist.
    </p>
    <p class="well cl-lg-12 cl-md-12 cl-sm-12 cl-xs-12">
        ***TODO: add legend to calendar***
    </p>
</div>
<div id='calendar'>
</div>
<script>
    var events = @Html.Raw(eventsJson);
    var fullScheduleDays = @Html.Raw(fullScheduleDaysJson);
    var morningString = 'T10:00:00';
    var afternoonString = 'T15:00:00';
    var businessDays = [0, 3, 4, 5, 6];
    var today = new Date();
    today.setHours(0, 0, 0, 0);

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }

    //checks if the array has a given value
    function includes(array, value) {
        if (!Array.isArray(array)) {
            return false;
        }
        else {
            for (var i = 0; i < array.length; i++) {
                if (array[i] == value)
                    return true;
            }
        }
        return false;
    }

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            themeSystem: 'bootstrap',
            selectable: true,
            dayCellDidMount: function (arg) {
                var element = arg.el;
                if (arg.date >= today) {
                    if (fullScheduleDays != null) {
                        for (var i = 0; i < fullScheduleDays.length; i++) {
                            var currDate = new Date(fullScheduleDays[i]);
                            var fullDateDay = currDate.getDate();
                            var fullDateMonth = currDate.getMonth();
                            var fullDateYear = currDate.getYear();
                            var currDateDay = arg.date.getDate();
                            var currDateMonth = arg.date.getMonth();
                            var currDateYear = arg.date.getYear();
                            if (fullDateDay == currDateDay &&
                                fullDateMonth == currDateMonth &&
                                fullDateYear == currDateYear) {
                                element.bgColor = "red";
                            }
                        }
                    }
                }
                else {
                    element.bgColor = "#4d3e15";
                }
            },
            businessHours: {
                // days of week. an array of zero-based day of week integers (0=Sunday)
                daysOfWeek: businessDays, // Thursday - Sunday
                startTime: '10:00', // a start time (10am in this example)
                endTime: '19:00', // an end time (7pm in this example)
            },
            select: function (arg) {
                var startDay = arg.start.getDay();
                var businessHours = includes(businessDays, startDay);
                var dateIsInPast = arg.start <= today;
                if (dateIsInPast) {
                    alert("Please choose a date after " + today);
                    calendar.unselect();
                    return;
                }
                if (!businessHours) {
                    alert("The chosen date is not in the tattoo artist's business hours.");
                    calendar.unselect();
                    return;
                }
                if (businessHours && !dateIsInPast) {
                    window.open('@Url.Action("MakeAppointment", "Schedule")' + '?date=' + formatDate(arg.start));
                }
                calendar.unselect();
            },
            dateClick: function (info) {
                //more info on click event: https://fullcalendar.io/docs/dateClick
                info.jsEvent.preventDefault();
                //alert('Clicked on: ' + info.dateStr);
                //alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                //alert('Current view: ' + info.view.type);
                // change the day's background color just for fun
                //info.dayEl.style.backgroundColor = 'red';
            },
            events: events
            //events: [
                //more info on events: https://fullcalendar.io/docs/event-model
                //{ // this object will be "parsed" into an Event Object
                //    title: 'The Title', // a property!
                //    start: '2020-07-15T10:30:00',
                //    end: '2020-07-15T11:30:00',
                //},
                //{ // this object will be "parsed" into an Event Object
                //    title: 'The Title', // a property!
                //    start: '2020-07-15T12:30:00',
                //    end: '2020-07-15T13:30:00',
                //},
                //{ // this object will be "parsed" into an Event Object
                //    title: 'The Title', // a property!
                //    start: '2020-07-16T10:30:00',
                //}
            //]
        });

        calendar.render();
    });

</script>