
@{
    @*
        for more info: https://fullcalendar.io/docs
        for paypal: https://developer.paypal.com/docs/checkout/integrate/#7-go-live
        
*@
    ViewData["Title"] = "Index";
    List<Appointment> appointments = (List<Appointment>)ViewData["appointments"];
    string eventsJson = (string)ViewData["eventsJson"];
    string fullScheduleDaysJson = (string)ViewData["fullScheduleDaysJson"];
}

<h1 class="jumbotron">Schedule</h1>
<div class="container">
    <p class="well cl-lg-12 cl-md-12 cl-sm-12 cl-xs-12">
        Click on any date that is available to reserve a meeting with the tattoo artist.
    </p>
</div>
<div id='calendar'>
</div>
<script>
    var events = @Html.Raw(eventsJson);
    var fullScheduleDays = @Html.Raw(fullScheduleDaysJson);
    var morningString = 'T10:00:00';
    var afternoonString = 'T15:00:00';
    var businessDays = [0, 3, 4, 5, 6];
    var today = new Date();
    today.setHours(0, 0, 0, 0);

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }

    //checks if the array has a given value
    function includes(array, value) {
        if (!Array.isArray(array)) {
            return false;
        }
        else {
            for (var i = 0; i < array.length; i++) {
                if (array[i] == value)
                    return true;
            }
        }
        return false;
    }



    var $calendar = $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,basicWeek,basicDay'
        },

        defaultView: 'month',

        dayRender: function (date, cell) {
            console.log(date);
            console.log(cell);
                cell.css("background-color", "red");
        }
    });

</script>