@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="list-group">
    <a href="@Url.Action("Preferences", "Admin", null)" class="list-group-item list-group-item-action">
        Preferences
    </a>
    <a href="@Url.Action("ViewSchedule", "Admin", null)" class="list-group-item list-group-item-action">
        View your schedule
    </a>
</div>